{{!< default}}
<main role="main">
  {{#post}}
  <article role="article" itemscope itemtype="http://schema.org/Article">
  {{#if tags}}
    <h5>
      {{tags separator=" / "}}
    </h5>
    {{/if}}
  <h3>{{title}}</h3>
  {{#if image}}
    <img src="{{image}}" />
  {{/if}}

  <div>
    {{content}}
  </div>

  {{#prev_post}}
    <a href="{{url}}">{{title}}</a>
  {{/prev_post}}

  {{#next_post}}
    <a href="{{url}}">{{title}}</a>
  {{/next_post}}
</article>
  {{/post}}
</main>
